<html>
  <title>{{title}}</title>
  <body>
	<a href='/'>Home</a> <a href='/users'>Users</a>
    <h1>{{utitle}}</h1>
	  This is a page
	  <br><br>
      <h2>{{umessage}}</h2>
      <br><br> {{uauthor.name}} - Other {{uauthor.otherinfo}}
    <hr />
    <footer>
      <small>Rendered by Handlebars</small>
    <footer>
  </body>
<html>