<html>
  <title>{{title}}</title>
  <body>
    <h1>{{utitle}}</h1>
	  This is a page
	  <br><br>
      <h2>{{umessage}}</h2>
      <br><br> {{uauthor.name}} - Age {{uauthor.age}}
    <hr />
    <footer>
      <small>Rendered by Handlebars</small>
    <footer>
  </body>
<html>